<div class="map-shell">
  <div class="map-toolbar">
    <strong>{{ label || ('map.defaultLabel' | translate) }}</strong>
    @if (selectable) {
      <button type="button" class="map-action" (click)="useBrowserPosition()">{{ 'map.useGps' | translate }}</button>
    }
  </div>
  <div #mapContainer class="apiary-map" [class.is-readonly]="!selectable">
    @if (!isReady && !loadError) {
      <span class="map-loading">{{ 'map.loading' | translate }}</span>
    }
    @if (loadError) {
      <span class="map-loading">{{ loadError }}</span>
    }
  </div>
  @if (selectable) {
    <p class="map-help">{{ 'map.help' | translate }}</p>
  }
</div>
